name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.19.3
          cache: pnpm

      - name: Enable pnpm via Corepack
        run: corepack enable

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm -r build

      - name: Test
        run: pnpm -r test

      - uses: actions/upload-artifact@v4
        with:
          name: components-dist
          path: packages/components/dist
          if-no-files-found: error      

  chromatic:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs: build_test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20.19.3
          cache: pnpm

      - uses: actions/download-artifact@v4
        with:
          name: components-dist
          path: packages/components/dist

      - name: Enable pnpm via Corepack
        run: corepack enable

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Publish to Chromatic
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
        run: pnpm -C apps/docs chromatic


